APP_NAME="SkyLink Airline"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

# --- DATABASE ---
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=airline_db
DB_USERNAME=root
DB_PASSWORD=

# --- DRIVERS (Quan trọng cho tính nhất quán của Team) ---
SESSION_DRIVER=database
CACHE_STORE=database
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

# --- MAIL (Dùng để gửi vé điện tử sau này) ---
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="email_cua_nhom@gmail.com"
MAIL_PASSWORD="mat_khau_ung_dung_gmail_gui_qua_zalo"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="no-reply@skylink.com"
MAIL_FROM_NAME="${APP_NAME}"

# --- VITE (Kết nối với React/Vue nếu có) ---
VITE_APP_NAME="${APP_NAME}"